.ads-full-card {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--orange);

  &__close-btn {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
    margin-left: auto;
    border: 2px solid var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: var(--orange-hover);
    }

    &-item {
      width: 80%;
      height: 2px;
      background-color: var(--orange);
      position: absolute;

      &:first-child {
        transform: rotate(-45deg);
      }

      &:last-child {
        transform: rotate(45deg);
      }
    }
  }

  &__img-wrapper {
    width: auto;
    height: 300px;
    margin-bottom: 20px;
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__info {
    font-size: 18px;

    &-title {
      font-size: 22px;
      margin-bottom: 10px;
    }

    &-address,
    &-price,
    &-owner,
    &-phone,
    &-email,
    &-description {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
    }
  }
}
