.app {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: inherit;
  position: relative;
  padding: 0 30px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
