:root {
  --blue: rgb(50, 139, 222);
  --blue-04: rgba(50, 139, 222, 0.4);
  --grey-light-08: rgba(229, 229, 229, 0.7);
  --orange: rgb(239, 182, 76);
  --orange-hover: rgb(251, 165, 5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  height: 100vh;
  font-size: 16px;
}

#root {
  height: 100vh;
}

.container {
  padding: 0 30px;
}

